<div class='thanksPage'>
  <div class='container'>
    <p class="thanksPage_message">ご利用ありがとうございました！</p>
    <div class="text-center"><%= link_to "トップへ戻る", root_path, class: "btn btn-primary" %></div>
  </div>
</div>